*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.side-nav {
    background-color: #fdfdff;
    border-right: 2px solid #e3e8f0;
    height: 100%;
    position: fixed;
    width: 250px;
    z-index: 10;
}

.side-nav.active {
    display: block;
}

.nav-logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 30px;
    text-decoration: none;
}

.nav-logo h1 {
    color: #111;
    font-size: 40px;
    font-weight: 500;
    margin-left: 5px;
}

.block-link {
    align-items: center;
    color: #838f9f;
    font-weight: 300;
    display: flex;
    padding: 20px;
    text-decoration: none;
}

.block-link:hover {
    background: #f8f8f8;
}

.block-link img {
    width: 20px;
}

.nav-link {
    font-size: 16px;
    margin-left: 12px;
}

.block-link.active {
    background: #e9e9e9;
}

.block-link.active .nav-link {
    font-weight: 500;
    color: #35b670;
}

.nav-toggler {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    height: 50px;
    justify-content: center;
    outline: none;
    position: relative;
    right: -90%;
    width: 50px;
    z-index: 10;
}

.line {
    background: #111;
    display: block;
    height: 2px;
    position: absolute;
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
    width: 100%;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}

.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

.main-content {
    margin-left: 250px;
    padding: 30px;
}

.input-control {
    align-items: center;
    background: #f4f4f4;
    border-radius: 6px;
    display: flex;
    max-width: 450px;
}

.input-control:focus-within {
    outline: 1px solid #333;
}

.input-control img {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 2px;
    width: 20px;
}

.input-control input {
    background: #f4f4f4;
    border: 0;
    border-radius: 6px;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 18px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.input-control input::placeholder {
    color: #838f9f;
    font-size: 16px;
}

.section-title {
    font-family: Lato, sans-serif;
    font-size: 25px;
    margin: 20px 0;
}

.table {
    display: flex;
}

.table-title {
    flex-basis: 100%;
    font-family: Lato, sans-serif;
    font-size: 16px;
    padding: 16px 0;
}

.table-item {
    align-items: center;
    background: #fff;
    display: flex;
    font-size: 16px;
    padding: 15px;
}

.main-info {
    align-items: center;
    display: flex;
}

.table-results {
    list-style-type: none;
}

.table-item img {
    border-radius: 50%;
    height: 35px;
    margin-right: 10px;
    width: 35px;
}

.table-item > * {
    flex-basis: 100%;
    overflow-x: auto;
    margin-right: 20px;
    scrollbar-color: rgba(62, 62, 62, 0.375) #dcdcdc;
    scrollbar-width: thin;
}

.table-item > *::-webkit-scrollbar {
    border: 1px solid #878787;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #3e3e3e60;
    border-radius: 10px;
}

.table-item:nth-child(odd) {
    background: #f1f9f6;
}

@media (max-width: 1200px) {
    .side-nav {
        display: none;
    }

    .nav-toggler {
        display: flex;
    }

    .main-content {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .table {
        display: none;
    }

    .table-results {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .table-item {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .table-item > * {
        flex-basis: auto;
        margin: 10px 0
    }
}

@media (max-width: 400px) {
    .main-content {
        padding: 10px;
    }
}